.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-label {
  margin-left: 5px;
}

.footer {
  margin-top: 8vh;
}

.input-pad {
  padding-left: 10px;
  padding-right: 10px;
}

.login {
  margin-top: 7%;
}

.option {
  background-color: red;
}

@media (max-width: 768px) {
  .login {
    margin-top: 30%;
  }

  .logo {
    width: 90%;
  }

  .footer {
    margin-top: 10vh;

  }
}

@media (min-width: 1200px) {
  .login {
    margin-top: 10%;
  }

  .contacts {
    font-size: large;
  }
  .footer {
    margin-top: 22vh;
  }
}
