.task {
  border-radius: 2px;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.3);
  border-style: solid;
  margin-bottom: 10px;
  padding-left: 10px;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.date-task {
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0, 0.5);
}
