.action-card {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.actions {
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0, 0.3);
  border-top-width: 1px;
}

.date-task-card {
  margin-right: 10px;
  color: rgb(0, 0, 0, 0.5);
}

.task-card {
  border-radius: 2px;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.3);
  border-style: solid;
  margin-bottom: 10px;
  padding-left: 10px;
  border-right-width: 3px;
  border-bottom-width: 3px;

  max-width: 90%;
}


.trello-icon {
  margin-top: 5px;
}
